################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SoulfulJourney/bin/Debug
/SoulfulJourney/obj
